<form action="/login" method="POST">
    <div class=container>
          <%= message%> 
    </div>
 
    <label for="username">Username</label>
    <input type="username" name="username" placeholder="Enter Your Username">
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your Password">
    <button type="submit">Submit</button>
</form>