<div class="container">
    <%= message %>
</div>
<form action="/queriesIncand" method="POST">
    <label for="eventname">Event Name</label>
    <input type="text" name="event" placeholder="Enter Your Event Name">
    <label for="query">Query</label>
    <input type="text" name="query" placeholder="Enter your Detail">
    <button type="submit">Submit</button>
</form>