<div class="container">
    <%= message %>
</div>
<form action="/registerIncand" method="POST">
    <label for="username">Event Name</label>
    <input type="text" name="event" placeholder="Enter Your Event Name">
    <label for="detail">Detail</label>
    <input type="text" name="details" placeholder="Enter your Detail">
    <button type="submit">Submit</button>
</form>